-- Communication-module notification settings (browser push, digests, quiet hours)
-- Distinct from public.notification_preferences (MOU/issues/HR toggles).

CREATE TABLE IF NOT EXISTS public.user_notification_preferences (
    user_id UUID PRIMARY KEY REFERENCES public.profiles(id) ON DELETE CASCADE,
    push_notifications BOOLEAN NOT NULL DEFAULT true,
    email_digests BOOLEAN NOT NULL DEFAULT true,
    digest_frequency TEXT NOT NULL DEFAULT 'daily'
        CHECK (digest_frequency IN ('immediate', 'hourly', 'daily', 'never')),
    notification_sounds BOOLEAN NOT NULL DEFAULT true,
    quiet_hours_enabled BOOLEAN NOT NULL DEFAULT false,
    quiet_hours_start TEXT NOT NULL DEFAULT '22:00',
    quiet_hours_end TEXT NOT NULL DEFAULT '08:00',
    created_at TIMESTAMPTZ NOT NULL DEFAULT now(),
    updated_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

ALTER TABLE public.user_notification_preferences ENABLE ROW LEVEL SECURITY;

DROP POLICY IF EXISTS "Users can view own notification prefs"
    ON public.user_notification_preferences;
DROP POLICY IF EXISTS "Users can insert own notification prefs"
    ON public.user_notification_preferences;
DROP POLICY IF EXISTS "Users can update own notification prefs"
    ON public.user_notification_preferences;

CREATE POLICY "Users can view own notification prefs"
    ON public.user_notification_preferences
    FOR SELECT
    TO authenticated
    USING (user_id = auth.uid());

CREATE POLICY "Users can insert own notification prefs"
    ON public.user_notification_preferences
    FOR INSERT
    TO authenticated
    WITH CHECK (user_id = auth.uid());

CREATE POLICY "Users can update own notification prefs"
    ON public.user_notification_preferences
    FOR UPDATE
    TO authenticated
    USING (user_id = auth.uid())
    WITH CHECK (user_id = auth.uid());

CREATE OR REPLACE FUNCTION public.touch_user_notification_preferences_updated_at()
RETURNS TRIGGER AS $$
BEGIN
    NEW.updated_at := now();
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

DROP TRIGGER IF EXISTS update_user_notification_preferences_updated_at
    ON public.user_notification_preferences;
CREATE TRIGGER update_user_notification_preferences_updated_at
    BEFORE UPDATE ON public.user_notification_preferences
    FOR EACH ROW
    EXECUTE FUNCTION public.touch_user_notification_preferences_updated_at();

GRANT SELECT, INSERT, UPDATE ON public.user_notification_preferences TO authenticated;
